<!DOCTYPE html>
<html>
  <head>
    <title>HotsnackGallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CQ61SHQ7LG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-CQ61SHQ7LG');
    </script>
  </head>

  <body>
  </body>
</html>
